; .editorconfig

root = true

[*]
preserve_newlines = true
max_preserve_newlines = 1

[**.js]
max_preserve_newlines = 2
indent_style = space
indent_size = 4

[**.css]
indent_style = space
indent_size = 4

[**.html]
max_char = 99
indent_style = space
indent_size = 4
