<h3>
    {{ 'location.form.title' | translate }}
    <small class="pull-right"><a ui-sref="location.list">Back</a></small>
</h3>

<form name="locationForm" class="form" ng-submit="vm.save(locationForm.$valid)" novalidate>

    <div class="alert alert-danger lead" ng-show="vm.error">
        <i class="fa fa-exclamation-circle"></i>
        {{ vm.error }}
    </div>

    <div class="form-group" ng-class="{'has-error': locationForm.name.$invalid && !locationForm.name.$pristine}">
        <label for="name" translate="location.form.name.label">Name</label>
        <input class="form-control" type="text" name="name" id="name" ng-model="vm.location.name" required placeholder="{{ 'location.form.name.placeholder' | translate}}"
        />
        <p ng-show="locationForm.name.$invalid && !locationForm.name.$pristine" class="help-block">
            {{ 'location.form.name.error' | translate }}
        </p>
    </div>

    <div class="form-group" ng-class="{'has-error': locationForm.staticURL.$invalid && !locationForm.staticURL.$pristine}">
        <label for="staticURL" translate="location.form.staticURL.label">Static URL</label>
        <input class="form-control" type="text" name="staticURL" id="staticURL" ng-model="vm.location.staticURL"
        required placeholder="{{ 'location.form.staticURL.placeholder' | translate}}" />
        <p ng-show="locationForm.staticURL.$invalid && !locationForm.staticURL.$pristine" class="help-block">
            {{ 'location.form.staticURL.error' | translate }}
        </p>
    </div>

    <div class="form-group" ng-class="{'has-error': locationForm.staticPath.$invalid && !locationForm.staticPath.$pristine}">
        <label for="staticPath" translate="location.form.staticPath.label">Static Path</label>
        <input class="form-control" type="text" name="staticPath" id="staticPath" ng-model="vm.location.staticPath"
        required placeholder="{{ 'location.form.staticPath.placeholder' | translate}}" />
        <p ng-show="locationForm.staticPath.$invalid && !locationForm.staticPath.$pristine" class="help-block">
            {{ 'location.form.staticPath.error' | translate }}
        </p>
    </div>

    <p class="clearfix">
        <button class="btn btn-primary pull-right" type="submit" ng-disabled="locationForm.$invalid">
            {{'location.form.submit.label' | translate}} →
        </button>
    </p>
</form>
