<h3>
    Media List
    <span class="pull-right">
        <button type="button" class="btn btn-primary" ui-sref="media.new">New Media</button>
    </span>
</h3>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="media in vm.medias">
            <td>
                <a class="btn btn-link" ui-sref="media.edit({mediaId: media.id})">
                    {{ media.id }}
                </a>
            </td>
            <td>{{ media.name }}</td>
            <td><a class="btn btn-link" ng-click="vm.deleteDlg(media)">Delete</td>
            </tr>
        </tbody>
    </table>

    <div ui-view></div>

    <script type="text/ng-template" id="deleteDlgTmpl">
        <h1>Are you sure?</h1>
        <p class="lead">You're about to delete the <b>{{ ngDialogData.media.name }}</b> media</p>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">No, I made a terrible mistake!</button>
        <button type="button" class="btn btn-danger" ng-click="ngDialogData.delete(); closeThisDialog()">Yes, I'm sure!!!</button>
    </script>
