<h3>
    Edit Media
    <small class="pull-right"><a ui-sref="media.list">Back</a></small>
</h3>

<form name="mediaForm" class="form" ng-submit="vm.save(mediaForm.$valid)" novalidate>

    <div class="alert alert-danger lead" ng-show="vm.error">
        <i class="fa fa-exclamation-circle"></i>
        {{ vm.error }}
    </div>

    <div class="form-group">
        <label for="location" translate="media.form.location.label">Location</label>
        <ui-select ng-model="vm.media.location" class="form-input">
            <ui-select-match placeholder="{{ 'media.form.location.placeholder' | translate }}">
                <span class="lead"><strong>{{ $select.selected.name }}</strong></span>
                <br/>
                <span>{{ $select.selected.staticURL }}</span>
            </ui-select-match>
            <ui-select-choices repeat="location in vm.locations 
                | propsFilter: { name: $select.search, staticURL: $select.search, staticPath: $select.staticPath }">
                <h4 class="page-header" ng-bind-html="location.name | highlight: $select.search"></h4>
                <div>Static URL: <span ng-bind-html="location.staticURL | highlight: $select.search"></span></div>
                <div>Static Path: <span ng-bind-html="location.staticPath | highlight: $select.search"></span></div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group">
        <label for="mediaType" translate="media.form.mediaType.label">Media Type</label>
        <ui-select ng-model="vm.media.mediaType" class="form-input">
            <ui-select-match placeholder="{{ 'media.form.mediaType.placeholder' | translate }}">
                {{ $select.selected.name }}
            </ui-select-match>
            <ui-select-choices repeat="mediaType in vm.mediaTypes | propsFilter: { name: $select.search }">
                <span ng-bind-html="mediaType.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="form-group" ng-class="{'has-error': mediaForm.name.$invalid && !mediaForm.name.$pristine}">
        <label for="name" translate="media.form.name.label">Name</label>
        <input class="form-control" type="text" name="name" id="name" ng-model="vm.media.name" required placeholder="{{ 'media.form.name.placeholder' | translate}}"
        />
        <p ng-show="mediaForm.name.$invalid && !mediaForm.name.$pristine" class="help-block">
            {{ 'media.form.name.error' | translate }}
        </p>
    </div>

    <p class="clearfix">
        <button class="btn btn-primary pull-right" type="submit" ng-disabled="mediaForm.$invalid">
            {{'media.form.submit.label' | translate}} →
        </button>
    </p>
</form>
